/* src/components/SideNavBar.css */

/* Preserving the original color scheme */
.sidebar-container {
  display: flex;
  height: 100vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adding subtle shadow for depth */
}

.sidebar-content {
  background-color: #1e2024;
  height: 100%;
  position: relative;
  overflow-y: auto;
  min-width: 200px; /* Minimum width */
  max-width: 400px; /* Maximum width */
}

/* Custom scrollbar styles for a modern look */
.sidebar-content::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

.sidebar-content::-webkit-scrollbar-track {
  background: #2e3036; /* Track color */
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #555; /* Thumb color */
  border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #6b6e74; /* Thumb color on hover */
}

.header-link {
  text-decoration: none; /* Removes underline from the link */
  color: inherit; /* Ensures the color matches the enclosed text */
}

.handle {
  background-color: transparent;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
}

.handle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #232529;
  transition: background-color 0.3s, width 0.3s ease; /* Enhanced transition */
}

.handle:hover::before {
  background-color: #1f67de;
  width: 6px; /* Slightly wider on hover for better visibility */
}

.nav-link.text-white {
  padding: 10px 0 10px 15px;
  margin: 0;
}

.nav-link.text-white,
.expanded-item {
  display: block;
  transition: background-color 0.05s ease;
  cursor: pointer;
}

.expanded-item {
  display: block;
  padding-left: 40px;
}

.nav-link.text-white:hover,
.expanded-item:hover {
  background-color: #35363a;
}

.arrow-button {
  background: none;
  width: 30px;
  border: none; /* Removing the border */
  padding: 0;
  margin-left: 10px;
  margin-right: -12px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth rotation effect */
  color: white; /* Ensuring the arrow is white */
  text-decoration: none;
}

.arrow-button:hover {
  transform: scale(1.1); /* Slightly enlarging the arrow on hover */
}

.nav-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth background transition */
}

.nav-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-container .nav-link:hover {
  background-color: transparent;
}

/* Adding a modern touch to the typography */
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  padding: 10px; /* Adding some padding */
  border-bottom: 1px solid #333; /* Underline effect */
}
